In [1]:
import pandas as pd
a = pd.read_excel("/Users/MikeImac/Desktop/FinaceTool/经营检测表（费用明细表）数据底稿.xlsx",sheet_name="之了成都教育2206")

In [ ]:
a

In [ ]:
print(a.index)

In [ ]:
a.columns

In [ ]:
a.set_index(a["科目代码"])

In [ ]:
a.index

In [ ]:
print(a.values)

In [ ]:
x = a.values.tolist

In [ ]:
x

In [ ]:
for cs in x:
    print(cs)

In [ ]:
a

In [ ]:
a = a.set_index("科目代码")

In [ ]:
a

In [ ]:
a.values

In [ ]:
a.index

In [ ]:
a.iterrows()

In [ ]:
for x in a.iterrows:
    print(x)

In [ ]:
a.iterrows()

In [ ]:
a

In [ ]:
a.to_csv("test.csv")

In [ ]:
a

In [ ]:
a

In [ ]:
a.

In [6]:
a.columns

Index(['科目代码', '科目名称/部门', '项目', '店铺/HS编码', 'HS编码', '币别', '期初借方余额', '期初贷方余额',
       '本期借方发生额', '本期贷方发生额', '本年借方累计', '本年贷方累计', '期末借方余额', '期末贷方余额'],
      dtype='object')

In [11]:
a.set_index(a["科目代码"])

,科目代码,科目名称/部门,项目,店铺/HS编码,HS编码,币别,期初借方余额,期初贷方余额,本期借方发生额,本期贷方发生额,本年借方累计,本年贷方累计,期末借方余额,期末贷方余额
科目代码,,,,,,,,,,,,,,
1002,1002,银行存款,NaN,NaN,NaN,NaN,3030.00,0.00,3030.67,6200.00,3992.67,4197.33,6120.00,0.00
1002.02,1002.02,"民生银行（634342543,634770624）",NaN,NaN,NaN,NaN,1248.00,0.00,6193.33,1668.00,2904.00,2466.00,5499.33,0.00
1002.02,1002.02,001之了（成都）教育科技有限公司,NaN,NaN,NaN,NaN,4888.67,0.00,5367.33,5162.00,4866.00,764.00,4804.67,0.00
1012,1012,其他货币资金,NaN,NaN,NaN,NaN,2178.67,0.00,2404.00,5661.33,5959.33,2508.00,3628.00,0.00
1012.03,1012.03,支付宝-备付金账户（2070664869@qq.com）,NaN,NaN,NaN,NaN,0.00,0.00,1872.00,4136.67,3976.67,2181.33,2772.67,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6711.05,6711.05,论文项目,排版,001之了（成都）教育科技有限公司,000-00,NaN,0.00,0.00,3117.33,2324.00,3980.67,6452.67,0.00,0.00
6711.06,6711.06,非常损失,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,3536.67,3998.67,0.00,0.00
6711.06,6711.06,总裁办,综合,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,6532.00,3654.67,0.00,0.00
6711.06,6711.06,Python项目组,编程,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,5272.67,6284.00,0.00,0.00
NaN,NaN,合计,NaN,NaN,NaN,NaN,4143.33,3106.67,1111.33,2582.67,1243.33,6317.33,4214.00,2699.33

In [13]:
a.index

RangeIndex(start=0, stop=219, step=1)

In [14]:
print(a.values)

[['1002' '银行存款' nan ... 4197.33 6120.0 0.0]
 ['1002.02' '民生银行（634342543,634770624）' nan ... 2466.0 5499.33 0.0]
 ['1002.02' '001之了（成都）教育科技有限公司' nan ... 764.0 4804.67 0.0]
 ...
 ['6711.06' '总裁办' '综合' ... 3654.67 0.0 0.0]
 ['6711.06' 'Python项目组' '编程' ... 6284.0 0.0 0.0]
 [nan '合计' nan ... 6317.33 4214.0 2699.33]]

In [18]:
x = a.values.tolist

In [19]:
x

In [21]:
for cs in x:
    print(cs)

TypeError: 'builtin_function_or_method' object is not iterable

In [22]:
a

,科目代码,科目名称/部门,项目,店铺/HS编码,HS编码,币别,期初借方余额,期初贷方余额,本期借方发生额,本期贷方发生额,本年借方累计,本年贷方累计,期末借方余额,期末贷方余额
0,1002,银行存款,NaN,NaN,NaN,NaN,3030.00,0.00,3030.67,6200.00,3992.67,4197.33,6120.00,0.00
1,1002.02,"民生银行（634342543,634770624）",NaN,NaN,NaN,NaN,1248.00,0.00,6193.33,1668.00,2904.00,2466.00,5499.33,0.00
2,1002.02,001之了（成都）教育科技有限公司,NaN,NaN,NaN,NaN,4888.67,0.00,5367.33,5162.00,4866.00,764.00,4804.67,0.00
3,1012,其他货币资金,NaN,NaN,NaN,NaN,2178.67,0.00,2404.00,5661.33,5959.33,2508.00,3628.00,0.00
4,1012.03,支付宝-备付金账户（2070664869@qq.com）,NaN,NaN,NaN,NaN,0.00,0.00,1872.00,4136.67,3976.67,2181.33,2772.67,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,6711.05,论文项目,排版,001之了（成都）教育科技有限公司,000-00,NaN,0.00,0.00,3117.33,2324.00,3980.67,6452.67,0.00,0.00
215,6711.06,非常损失,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,3536.67,3998.67,0.00,0.00
216,6711.06,总裁办,综合,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,6532.00,3654.67,0.00,0.00
217,6711.06,Python项目组,编程,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,5272.67,6284.00,0.00,0.00
218,NaN,合计,NaN,NaN,NaN,NaN,4143.33,3106.67,1111.33,2582.67,1243.33,6317.33,4214.00,2699.33

In [25]:
a = a.set_index("科目代码")

In [26]:
a

,科目名称/部门,项目,店铺/HS编码,HS编码,币别,期初借方余额,期初贷方余额,本期借方发生额,本期贷方发生额,本年借方累计,本年贷方累计,期末借方余额,期末贷方余额
科目代码,,,,,,,,,,,,,
1002,银行存款,NaN,NaN,NaN,NaN,3030.00,0.00,3030.67,6200.00,3992.67,4197.33,6120.00,0.00
1002.02,"民生银行（634342543,634770624）",NaN,NaN,NaN,NaN,1248.00,0.00,6193.33,1668.00,2904.00,2466.00,5499.33,0.00
1002.02,001之了（成都）教育科技有限公司,NaN,NaN,NaN,NaN,4888.67,0.00,5367.33,5162.00,4866.00,764.00,4804.67,0.00
1012,其他货币资金,NaN,NaN,NaN,NaN,2178.67,0.00,2404.00,5661.33,5959.33,2508.00,3628.00,0.00
1012.03,支付宝-备付金账户（2070664869@qq.com）,NaN,NaN,NaN,NaN,0.00,0.00,1872.00,4136.67,3976.67,2181.33,2772.67,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6711.05,论文项目,排版,001之了（成都）教育科技有限公司,000-00,NaN,0.00,0.00,3117.33,2324.00,3980.67,6452.67,0.00,0.00
6711.06,非常损失,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,3536.67,3998.67,0.00,0.00
6711.06,总裁办,综合,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,6532.00,3654.67,0.00,0.00
6711.06,Python项目组,编程,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,5272.67,6284.00,0.00,0.00
NaN,合计,NaN,NaN,NaN,NaN,4143.33,3106.67,1111.33,2582.67,1243.33,6317.33,4214.00,2699.33

In [27]:
a.values

array([['银行存款', nan, nan, ..., 4197.33, 6120.0, 0.0],
       ['民生银行（634342543,634770624）', nan, nan, ..., 2466.0, 5499.33, 0.0],
       ['001之了（成都）教育科技有限公司', nan, nan, ..., 764.0, 4804.67, 0.0],
       ...,
       ['总裁办', '综合', '001之了（成都）教育科技有限公司', ..., 3654.67, 0.0, 0.0],
       ['Python项目组', '编程', '001之了（成都）教育科技有限公司', ..., 6284.0, 0.0, 0.0],
       ['合计', nan, nan, ..., 6317.33, 4214.0, 2699.33]], dtype=object)

In [28]:
a.index

Index([      '1002',    '1002.02',    '1002.02',       '1012',    '1012.03',
          '1012.03',    '1012.05',    '1012.05',    '1012.06', '1012.06.02',
       ...
          '6603.01',    '6603.03',    '6603.03',       '6711',    '6711.05',
          '6711.05',    '6711.06',    '6711.06',    '6711.06',          nan],
      dtype='object', name='科目代码', length=219)

In [32]:
a.iterrows()

In [33]:
for x in a.iterrows:
    print(x)

TypeError: 'method' object is not iterable

In [34]:
a.iterrows()

In [35]:
a

,科目名称/部门,项目,店铺/HS编码,HS编码,币别,期初借方余额,期初贷方余额,本期借方发生额,本期贷方发生额,本年借方累计,本年贷方累计,期末借方余额,期末贷方余额
科目代码,,,,,,,,,,,,,
1002,银行存款,NaN,NaN,NaN,NaN,3030.00,0.00,3030.67,6200.00,3992.67,4197.33,6120.00,0.00
1002.02,"民生银行（634342543,634770624）",NaN,NaN,NaN,NaN,1248.00,0.00,6193.33,1668.00,2904.00,2466.00,5499.33,0.00
1002.02,001之了（成都）教育科技有限公司,NaN,NaN,NaN,NaN,4888.67,0.00,5367.33,5162.00,4866.00,764.00,4804.67,0.00
1012,其他货币资金,NaN,NaN,NaN,NaN,2178.67,0.00,2404.00,5661.33,5959.33,2508.00,3628.00,0.00
1012.03,支付宝-备付金账户（2070664869@qq.com）,NaN,NaN,NaN,NaN,0.00,0.00,1872.00,4136.67,3976.67,2181.33,2772.67,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6711.05,论文项目,排版,001之了（成都）教育科技有限公司,000-00,NaN,0.00,0.00,3117.33,2324.00,3980.67,6452.67,0.00,0.00
6711.06,非常损失,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,3536.67,3998.67,0.00,0.00
6711.06,总裁办,综合,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,6532.00,3654.67,0.00,0.00
6711.06,Python项目组,编程,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,5272.67,6284.00,0.00,0.00
NaN,合计,NaN,NaN,NaN,NaN,4143.33,3106.67,1111.33,2582.67,1243.33,6317.33,4214.00,2699.33

In [41]:
a.to_csv("test.csv")

In [42]:
a

,科目名称/部门,项目,店铺/HS编码,HS编码,币别,期初借方余额,期初贷方余额,本期借方发生额,本期贷方发生额,本年借方累计,本年贷方累计,期末借方余额,期末贷方余额
科目代码,,,,,,,,,,,,,
1002,银行存款,NaN,NaN,NaN,NaN,3030.00,0.00,3030.67,6200.00,3992.67,4197.33,6120.00,0.00
1002.02,"民生银行（634342543,634770624）",NaN,NaN,NaN,NaN,1248.00,0.00,6193.33,1668.00,2904.00,2466.00,5499.33,0.00
1002.02,001之了（成都）教育科技有限公司,NaN,NaN,NaN,NaN,4888.67,0.00,5367.33,5162.00,4866.00,764.00,4804.67,0.00
1012,其他货币资金,NaN,NaN,NaN,NaN,2178.67,0.00,2404.00,5661.33,5959.33,2508.00,3628.00,0.00
1012.03,支付宝-备付金账户（2070664869@qq.com）,NaN,NaN,NaN,NaN,0.00,0.00,1872.00,4136.67,3976.67,2181.33,2772.67,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6711.05,论文项目,排版,001之了（成都）教育科技有限公司,000-00,NaN,0.00,0.00,3117.33,2324.00,3980.67,6452.67,0.00,0.00
6711.06,非常损失,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,3536.67,3998.67,0.00,0.00
6711.06,总裁办,综合,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,6532.00,3654.67,0.00,0.00
6711.06,Python项目组,编程,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,5272.67,6284.00,0.00,0.00
NaN,合计,NaN,NaN,NaN,NaN,4143.33,3106.67,1111.33,2582.67,1243.33,6317.33,4214.00,2699.33

In [44]:
a

,科目名称/部门,项目,店铺/HS编码,HS编码,币别,期初借方余额,期初贷方余额,本期借方发生额,本期贷方发生额,本年借方累计,本年贷方累计,期末借方余额,期末贷方余额
科目代码,,,,,,,,,,,,,
1002,银行存款,NaN,NaN,NaN,NaN,3030.00,0.00,3030.67,6200.00,3992.67,4197.33,6120.00,0.00
1002.02,"民生银行（634342543,634770624）",NaN,NaN,NaN,NaN,1248.00,0.00,6193.33,1668.00,2904.00,2466.00,5499.33,0.00
1002.02,001之了（成都）教育科技有限公司,NaN,NaN,NaN,NaN,4888.67,0.00,5367.33,5162.00,4866.00,764.00,4804.67,0.00
1012,其他货币资金,NaN,NaN,NaN,NaN,2178.67,0.00,2404.00,5661.33,5959.33,2508.00,3628.00,0.00
1012.03,支付宝-备付金账户（2070664869@qq.com）,NaN,NaN,NaN,NaN,0.00,0.00,1872.00,4136.67,3976.67,2181.33,2772.67,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6711.05,论文项目,排版,001之了（成都）教育科技有限公司,000-00,NaN,0.00,0.00,3117.33,2324.00,3980.67,6452.67,0.00,0.00
6711.06,非常损失,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,3536.67,3998.67,0.00,0.00
6711.06,总裁办,综合,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,6532.00,3654.67,0.00,0.00
6711.06,Python项目组,编程,001之了（成都）教育科技有限公司,0,NaN,0.00,0.00,0.00,0.00,5272.67,6284.00,0.00,0.00
NaN,合计,NaN,NaN,NaN,NaN,4143.33,3106.67,1111.33,2582.67,1243.33,6317.33,4214.00,2699.33

In [46]:
a.

<bound method NDFrame.last of                               科目名称/部门   项目            店铺/HS编码    HS编码  币别  \
科目代码
1002                             银行存款  NaN                NaN     NaN NaN
1002.02     民生银行（634342543,634770624）  NaN                NaN     NaN NaN
1002.02             001之了（成都）教育科技有限公司  NaN                NaN     NaN NaN
1012                           其他货币资金  NaN                NaN     NaN NaN
1012.03  支付宝-备付金账户（2070664869@qq.com）  NaN                NaN     NaN NaN
...                               ...  ...                ...     ...  ..
6711.05                          论文项目   排版  001之了（成都）教育科技有限公司  000-00 NaN
6711.06                          非常损失  NaN                NaN     NaN NaN
6711.06                           总裁办   综合  001之了（成都）教育科技有限公司       0 NaN
6711.06                     Python项目组   编程  001之了（成都）教育科技有限公司       0 NaN
NaN                                合计  NaN                NaN     NaN NaN

          期初借方余额   期初贷方余额  本期借方发生额  本期贷方发生额   本年借方累计   本年贷方累计   期末借方余额  \
科目代码
1002     3030.00     0.00  3030.67  6200.00  3992.67  4197.33  6120.00
1002.02  1248.00     0.00  6193.33  1668.00  2904.00  2466.00  5499.33
1002.02  4888.67     0.00  5367.33  5162.00  4866.00   764.00  4804.67
1012     2178.67     0.00  2404.00  5661.33  5959.33  2508.00  3628.00
1012.03     0.00     0.00  1872.00  4136.67  3976.67  2181.33  2772.67
...          ...      ...      ...      ...      ...      ...      ...
6711.05     0.00     0.00  3117.33  2324.00  3980.67  6452.67     0.00
6711.06     0.00     0.00     0.00     0.00  3536.67  3998.67     0.00
6711.06     0.00     0.00     0.00     0.00  6532.00  3654.67     0.00
6711.06     0.00     0.00     0.00     0.00  5272.67  6284.00     0.00
NaN      4143.33  3106.67  1111.33  2582.67  1243.33  6317.33  4214.00

          期末贷方余额
科目代码
1002        0.00
1002.02     0.00
1002.02     0.00
1012        0.00
1012.03     0.00
...          ...
6711.05     0.00
6711.06     0.00
6711.06     0.00
6711.06     0.00
NaN      2699.33

[219 rows x 13 columns]>